.createnote_btn {
    margin-left: 10px;
    margin-bottom: 6px;
}

.card_header {
    display: flex;
}
.card_header .card_title{
    color: #000;
    text-decoration: none;
    flex: 1;
    cursor: pointer;
    align-self: center;
    font-size: 18px;
}